body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.MultiStepForm{
  width: 718px !important;
  margin:65px 196px 0 196px !important;
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}
/* .ifQojd,.bkFKmo,.cFAxyJ,.fJaJrc,.kgzTJO,.cgofkj,.cAyfws{
 
} */
.cMKXSR,.cByDhz{
  height: 2px !important;
  width:114px !important;
  margin: 0 67px;
  background-color:#666666 !important;
}
.fkWPra,.dSSObz,.eyUQHi,.bZfSKL,.eKybjX,.WrrxS,.jfTxpL,.hlVdIU,
.eOJGuI
{
  background-color:#F7F6F4 !important;
}
.fkWPra:before {
  content: url("Images/checkout.png") !important;
  background: transparent !important ;
  background-color: none !important;
  width: 48px !important;
  height: 48px !important ;
/* margin-bottom: 50px !important; */
  top: -156% !important;
}
.fkWPra:after {

content: '1. Checkout';
 text-transform: none !important;
 width: 124px !important;
height: 24px !important;
color: #D84727 !important;
font-family: Taviraj !important;
font-style: normal !important;
font-weight: 600 !important;
font-size: 20px !important;
line-height: 24px !important;
letter-spacing: 0.02em !important;
/* margin-top: 50px !important; */
bottom: 0 !important;
}

.dSSObz:before {
content: url("Images/checkout1.png") !important ;
background: transparent !important ;
background-color: none !important;
width: 48px !important;
height: 48px !important ;
top: -156% !important;
 
}
.dSSObz:after {
content: '1. Checkout';
width: 124px !important;
height: 24px !important;
color: #999999 !important;
font-family: Taviraj !important;
font-style: normal !important;
font-weight: 600 !important;
font-size: 20px !important;
line-height: 24px !important;
text-transform: none !important;
margin-top: 50px !important;
letter-spacing: 0.02em !important;
bottom: 0 !important;
}

.eyUQHi,.eOJGuI {
  position: relative !important;
  /* content: url("Images/pay.png") !important ; */
  /* background-color: white !important; */
  /* width: 30px !important;
  height: 24px !important;
  top: -156% !important; */
  }
   .eOJGuI:before{
    position: absolute !important;
    content: url("Images/pay.png") !important ;
    /* background-color: white !important; */
    width: 30px !important;
    height: 24px !important;
    top:-440%  !important;
    }
.eyUQHi:before{
position: absolute !important;
    content: url("Images/pay.png") !important ;
    /* background-color: white !important; */
    width: 30px !important;
    height: 24px !important;
    top:-20px  !important;
     left:24px  !important;
}

  .eyUQHi:after,.eOJGuI:after {

 content: '2. Payment';
 text-transform: none !important;
 width: 124px !important;
height: 24px !important;
color: #999999 !important;
font-family: Taviraj !important;
font-style: normal !important;
font-weight: 600 !important;
font-size: 20px !important;
line-height: 24px !important;
letter-spacing: 0.02em !important;
bottom: -5px !important;
left: 164% !important;
  }

  .bZfSKL:before {
    content: url("Images/pay1.png") !important ;
   background-color:#F7F6F4 !important;
    width: 30px !important;
    height: 24px !important;
    top: -125% !important;
    left: 2px !important;
     
    }
    .bZfSKL:after {
    content: '2. Payment';
    width: 124px !important;
    height: 24px !important;
    color: #D84727 !important;
    font-family: Taviraj !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    text-transform: none !important;
    margin-top: 50px !important;
    letter-spacing: 0.02em !important;
    bottom: 0 !important;
    }
    .eKybjX:before {
    content: url("Images/pay.png") !important ;
    background-color:#F7F6F4 !important;
    width: 30px !important;
    height: 24px !important;
    top: -156% !important;
    }
    .eKybjX:after {
    content: '2. Payment';
    width: 124px !important;
    height: 24px !important;
    color: #999999 !important;
    font-family: Taviraj !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    text-transform: none !important;
    margin-top: 50px !important;
    letter-spacing: 0.02em !important;
    bottom: 0 !important;
    }
    .hlVdIU {
      position: relative;
    }
    .hlVdIU:before {
      position: absolute;
      content: url("Images/confirm.png") !important;
      /* background-color: none !important; */
      width: 29px !important;
       height: 27px !important ;
    /* margin-bottom: 50px !important; */
    top: -59px !important;
    }
    .hlVdIU:after {
    
    content: '3. Confirmation';
     text-transform: none !important;
     width: 158px !important;
    height: 24px !important;
    color: #999999 !important;
    font-family: Taviraj !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    letter-spacing: 0.02em !important;
     bottom: -5px !important;
    left: 31px !important;
    }
    .jfTxpL:before {
      content: url("Images/confirm1.png") !important ;
      background-color:#F7F6F4 !important;
      width: 29px !important;
      height: 27px !important;
      top: -156% !important;
      left: 19px !important;
       
      }
      .jfTxpL:after {
      content: '3. Confirmation';
      width: 158px !important;
      height: 24px !important;
      color: #D84727 !important;
      font-family: Taviraj !important;
      font-style: normal !important;
      font-weight: 600 !important;
      font-size: 20px !important;
      line-height: 24px !important;
      text-transform: none !important;
      margin-top: 50px !important;
      letter-spacing: 0.02em !important;
      bottom: -5px !important;
      left: 31px !important;
      }


.modal_style{
   position: absolute;
   top:200px;
   left:620px;
   width:600px;
   height:550px;
   border:1px solid lightgray!important;
   padding:30px;
   background:#dddddc;
 }

 
.modal_style1{
   position: absolute;
   top:10px;
   left:620px;
   width:600px;
   height:950px;
   border:1px solid lightgray!important;
   padding:30px;
   background:#dddddc;
 }

 input[type=radio]:checked + label{
   border:2px solid black;
   border-radius: 50%;
 }

 .checkStyle{
   width:100%;
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   height:100px;
 }

.input-range__label{
  color:black !important;
}

.modalstyle{
  margin:8px;
  float: right;
  padding: 15px;
  width:500px;
  height:900px;
  border: 1px solid lightgray;
  background:#dddddc;
  overflow: scroll;
}

.public-DraftStyleDefault-ltr {
        direction: ltr;
        text-align: left;
        background: white;
        height: 100px;
    }
